# Dependency directories
node_modules/
/server-alerts-api/node_modules
/server-alerts-front/node_modules
# Optional npm cache directory
.npm

# Ommit enviroment file
/server-alerts-api/.env
# Optional eslint cache
.eslintcache